$primary: #19a2ae;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: $primary;
}

.container {
  display: flex;
  justify-content: center;
  align-content: center;

  .card {
    background: white;
    border-radius: 5%;

    .personal-info {
      text-align: center;

      img {
        border: 5px solid white;
        border-radius: 50%;
        margin-top: -3.5em;
      }
    }
    .stats {
      padding: 2.5em;

      ul {
        display: flex;
        justify-content: space-between;

        li {
          list-style-type: none;
          text-align: center;
        }
      }
    }
  }
}
